<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body{
            background-image: url('https://images.idgesg.net/images/article/2019/05/cso_best_security_software_best_ideas_best_technology_lightbulb_on_horizon_of_circuit_board_landscape_with_abstract_digital_connective_technology_atmosphere_ideas_innovation_creativity_by_peshkov_gettyimages-965785212_3x2_2400x1600-100797318-large.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body >
    <div class="w3-card-2 w3-display-middle w3-round-large w3-padding-large w3-border w3-border-white" style="width: 40%;background: #ecf0f140; color:#fff">
        <h3>First Project</h3>
        <form action="/led" method="post" autocomplete="off">
            <div>
                <input type="checkbox" checked="checked" name="status[]" class="w3-check" value="0"> 
                <label class="container">Bật LED 1 </label>
            </div>
            <div>
                <input type="checkbox" checked="checked" name="status[]" class="w3-check" value="1"> 
                <label class="container">Bật LED 2 </label>
            </div>
            <div>
                <input type="checkbox" checked="checked" name="status[]" class="w3-check" value="2"> 
                <label class="container">Bật LED 3 </label>
            </div>
            <div>
                <input type="checkbox" checked="checked" name="status[]" class="w3-check" value="3"> 
                <label class="container">Bật LED 4 </label>
            </div>
            <div>
                <input type="checkbox" checked="checked" name="status[]" class="w3-check" value="4"> 
                <label class="container">Bật LED 5 </label>
            </div>
            <div>
                <button type="submit" class="w3-margin-top w3-button w3-border w3-border-blue w3-hover-blue">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
